/* holman colors */

.reveal .slides .white {
  color: #f0f2eb
}
.reveal .slides .yellow {
  color: #cff564;
}
.reveal .slides .green {
  color: #8aa860;
}
.reveal .slides .gray {
  color: #7a7a7a;
}
.reveal .slides .blue {
  color: #3ec5f4;
}
.reveal .slides .red {
  color: #fc4247;
}
.reveeal .slides .light-blue {
  color: #3ec8ef;
}
.reveal .slides .dark-blue,
.reveal .slides .dark-blue h2,
.reveal .slides .dark-blue p {
  color: #369abf;
}

.reveal section img {
  border: none;
  background: transparent;
  box-shadow: none;
  margin: none;
}

.reveal .slides .subtitle {
  font-size: 30%;
}

.first h1,
.first h4 {
  text-transform: none;
  margin: 0;
}

.first h1 span {
  font-size: 50%;
  vertical-align: top;
}

.first h4 {
  margin-left: 150px;
  margin-top: -35px;
}

.first .footnote {
  position: fixed;
  bottom: 40px;
  right: 0;
  font-size: 70%;
}

.cons > div {
  margin-top: -30%;
}

.cons .fragment,
.proscons p,
.proscons .fragment {
  color: #eee8d5;
  margin: 0;
  text-align: left;
  font-size: 80%;
  margin-left: 30px;
}

.reveal .mt25 {
  margin-top: 25px;
}
