/* holman colors */

.reveal .slides .white {
  color: #f0f2eb;
}
.reveal .slides .yellow {
  color: #cff564;
}
.reveal .slides .green {
  color: #8aa860;
}
.reveal .slides .gray {
  color: #7a7a7a;
}
.reveal .slides .blue {
  color: #3ec5f4;
}
.reveal .slides .red {
  color: #fc4247;
}
.reveal .slides .black {
  color: #000;
}
.reveal .slides .dark-red {
  color: #cc363a;
}
.reveeal .slides .light-blue {
  color: #3ec8ef;
}

.reveal .slides .bg-green {
  background-color: #33e089;
}
.reveal .slides .bg-blue {
  background-color: #265ba3;
}
.reveal .slides .bg-orange {
  background-color: #ff9800;
}
.reveal .slides .bg-purple {
  background-color: #b666c6;
}

.reveal .slides .dark-blue,
.reveal .slides .dark-blue h2,
.reveal .slides .dark-blue p {
  color: #369abf;
}

.reveal .slides .no-transform {
  text-transform: none;
}

.reveal .slides .text-left {
  text-align: left;
}

.reveal .slides .yuge {
  font-size: 7em;
}
.reveal .slides .ctrls .yuge {
  font-size: 6em;
}

.reveal section img {
  border: none;
  background: transparent;
  box-shadow: none;
  margin: none;
}

.reveal .slides .subtitle {
  font-size: 30%;
}

.reveal .slides .it {
  font-style: italic;
}

.first h1,
.first h4 {
  text-transform: none;
  margin: 0;
}

.first h1 span {
  font-size: 50%;
  vertical-align: top;
}

.first h4 {
  margin-left: 150px;
  margin-top: -35px;
}

.first .footnote {
  position: fixed;
  bottom: 40px;
  right: 0;
  font-size: 70%;
}

.cons > div {
  margin-top: -29%;
}

.cons .fragment,
.proscons p,
.proscons .fragment {
  color: #eee8d5;
  margin: 0;
  text-align: left;
  font-size: 80%;
  margin-left: 30px;
}

.reveal .fragment .h4,
.reveal .fragment.h3 {
  margin: 0 0 20px 0;
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal .fragment .h4 {
  font-size: 1.2em;
}

.reveal .mt25 {
  margin-top: 25px;
}

.reveal .mt-25 {
  margin-top: -25px;
}

.reveal .top {
  position: fixed;
  width: 100%;
  top: 0;
}

.reveal .corner-ribbon {
  background: #33a0ee;
  color: #f0f0f0;
  font-size: 2em;
  opacity: .6;
  padding: 0px 100px;
  position: fixed;
  right: -35%;
  top: 10%;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  width: 80%;
}

.reveal .recap h1,
.reveal .recap h3 {
  margin: 0;
  line-height: 1;
}

.reveal .recap h3 {
  font-size: 2em;
}

.reveal .slides .small,
.reveal .slides .small li {
  font-size: 60%;
}
.reveal .slides .events .small {
  font-size: 73%;
}

.reveal .slides .how .fragment {
  color: #f0f2eb;
}

.reveal .slides pre {
  font-size: 50%;
  box-shadow: none;
  padding: 0;
  position: relative;
  margin: 0 auto;
}

.reveal .slides .how .fragment.example code {
  position: absolute;
  width: 100%;
  top: 0;
}

.reveal .slides .components h3,
.reveal .slides .components .h3 {
  color: #fff;
  padding: 20px;
}

.reveal .slides .debugging pre,
.reveal .slides .views pre {
  font-size: 40%;
}

.reveal .slides .ctrls .example img,
.reveal .slides .views img {
  position: absolute;
  right: 5%;
}

.reveal .slides .views .fragment {
  margin: 20px 10%;
}

.reveal .slides .concept {
  margin: 0;
  padding-left: 60px;
  font-style: italic;
  color: #bf3433;
  position: relative;
  top: 35px;
  letter-spacing: 10px;
}

.reveal .slides .ctrls pre {
  margin-top: -30px;
  margin-bottom: -30px;
}

.reveal .slides .ib {
  display: inline-block;
}

.reveal .slides .codesmell ul {
  color: #000;
}

.reveal .slides .gnomes {
  float: left;
  margin-left: 20px;
  width: 40%;
}
.reveal .slides .ctrls ul {
  font-size: .5em;
}

.reveal .slides .ctrls ul.cleanup {
  width: 50%;
}

.reveal .slides .ctrl-recap h2,
.reveal .slides .ctrl-recap h1 {
  margin: 0;
  line-height: 0.9em;
}
.reveal .slides .ctrl-recap h2 {
  letter-spacing: .03em;
}
.reveal .slides .ctrl-recap h2.dark-blue {
  letter-spacing: 0.01em;
}

.reveal .slides .depinj h1 {
  line-height: 0.8em;
}

.reveal .slides .depinj .concept {
  letter-spacing: .1em;
  margin: 0 0 .2em -2.5em;
  padding: 0;
}

.reveal .slides .depinj .example p {
  margin-left: 40px;
}

.reveal .slides .depinj .footnote {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: .5em;
}
.reveal .slides .depinj .footnote span {
  opacity: .7;
}

.reveal .slides .depinj .syringe {
  max-height: 200px;
}

.reveal .slides .depinj pre {
  font-size: 35%;
}

.reveal .slides .dirs pre {
  font-size: 45%;
}

.reveal .slides h3 img.fl {
  margin-right: -100px;
  margin-left: 40px;
}

.reveal .slides .dirs h3 {
  margin: 0;
  line-height: .8em;
}

.reveal .slides .dirs p {
  margin-bottom: -10px;
}

.reveal .slides .dirs .subtitle {
  font-size: 65%;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 20px;
}

.reveal .slides .transclude {
  background-color: #fff;
}

.dir-recap h1 {
  margin: 0;
  line-height: 1em;
}

.dir-recap h2 {
  margin-bottom: 0;
  line-height: 1em;
  font-size: 1.32em;
  margin-top: -19px;
}

.dir-recap h2.dark-blue {
  margin-top: -5px;
  font-size: 1.25em;
}

.reveal .slides .events .concept {
  padding-left: 0;
  margin-left: -8em;
  letter-spacing: 6px;
  top: 55px;
}
